@model CustomerProductViewModel
@{
    ViewBag.Title = "Delete Incident";
    ViewBag.mode = "Incident";
}

<h2>Confirm Deletion</h2>
<h3>@Model.CurrentCustomerProduct.Product.Name </h3>


<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CurrentCustomerProduct.CustomerId" />
    <input type="hidden" asp-for="CurrentCustomerProduct.ProductId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="Listget" asp-route-id="@Model.CurrentCustomerProduct.CustomerId" class="btn btn-primary">Cancel</a>
</form>

