@{
    ViewData["Title"] = "Admin";
    ViewBag.mode = "About";
}

<div class="jumbotron bg-secondary mt-4">
    <h1 class="text-light">About</h1>
    <p class="text-light">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
</div>

<div class="jumbotron bg-secondary mt-4">
    <div style="text-align:center">
        <h2 class="text-light">Contact Us</h2>
        <p class="text-light">Swing by for a cup of coffee:</p>
    </div>
    <div class="row">
        <div class="column">
            <p class="text-light">
                <strong>Address:</strong>
                <br /> 7500 MCLeod Trail SW, Calgary, Alberta
            </p>
            <p class="text-light">
                <strong>Email:</strong>
                <br /> sportspro@yahoo.com
            </p>
            <p class="text-light">
                <strong>Phone:</strong>
                <br /> (555)-567-7655
            </p>
            <p class="text-light">
                <strong>Linkedin:</strong>
                <br /> https://www.linkedin.com/company/sportspro/
            </p>
            <p class="text-light">
                <strong>Facebook:</strong>
                <br /> https://www.facebook.com/sportspro/
            </p>
        </div>
        <div class="column">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2511.614010717529!2d-114.07366048471305!3d50.98632485648883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371711d460ee7c5%3A0x8fc90691b851f35f!2s7500%20Macleod%20Trail%20SW%2C%20Calgary%2C%20AB!5e0!3m2!1sen!2sca!4v1602007945727!5m2!1sen!2sca" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
    </div>
</div>

<h2 style="text-align:center">Our Team</h2>
@*<div class="row">
        <div class="column">
            <div class="card">
                <img src="~/Images/JohnSmith.png" alt="John Smith" style="width:100%">
                <div class="container">
                    <h2>John Smith</h2>
                    <p class="title">CEO & Founder</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/MariaFish.jpeg" alt="Maria Fish" style="width:100%">
                <div class="container">
                    <h2>Maria Fish</h2>
                    <p class="title">Marketing Director</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/BekleyDome.jpg" alt="Beckley Dome" style="width:100%">
                <div class="container">
                    <h2>Beckley Dome</h2>
                    <p class="title">Customer Relations Manager</p>
                </div>
            </div>
        </div>
    </div>*@

<div class="row">
    <div class="column">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="~/Images/JohnSmith.png" alt="John Smith" style="width:300px">
                </div>
                <div class="flip-card-back">
                    <div class="center">
                        <h1>John Smith</h1>
                        <p>CE0 & Founder</p>
                        <p>Has over 30 years Experience as an NBA star and loves car racing </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="~/Images/MariaFish.jpeg" alt="Maria Fish" style="width:300px">
                </div>
                <div class="flip-card-back">
                    <div class="center">
                        <h1>Maria Fish</h1>
                        <p>Marketing Director</p>
                        <p>Maria loves non competitve long Tennis with over 10 years experience as a Software Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="~/Images/BekleyDome.jpg" alt="Bekley Dome" style="width:300px">
                </div>
                <div class="flip-card-back">
                    <div class="center">
                        <h1>Bekley Dome</h1>
                        <p>Customer Relations Manager</p>
                        <p>Has over 20 years experience handling customers, promoting business relations and handling Conflict resolutions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
